<div class="topbar">
<div class="container">
<div class="row">
<div class="col-md-6 text-left">
<p><i class="fa fa-graduation-cap"></i> Todos nuestros sueños se pueden volver realidad si tenemos el coraje de perseguirlos.” Walt Disney.</p>
</div>
<div class="col-md-6 text-right">
<ul class="list-inline">
<li>
<a class="social" href="#"><i class="fa fa-facebook"></i></a>
<a class="social" href="#"><i class="fa fa-twitter"></i></a>
<a class="social" href="#"><i class="fa fa-google-plus"></i></a>
<a class="social" href="#"><i class="fa fa-linkedin"></i></a>
</li>
{{#if user}}
<li class="dropdown">
<a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-user"></i> {{ fullName user}}</a>
<div class="dropdown-menu">
 <!--Modificar para mostrar la información del usario -->
<div class="form-title">
<div style="display:flex; align-items: center;     justify-content: space-between;">
<img src="../../images/apple-touch-icon-57x57.png" alt="imagen" class="float-center">   
</div>

<h4>Correo: {{user.email}}</h4>
<h4>Edad: {{getAge user.fechaNacimiento}}</h4>
<hr>
</div>
<hr>
<h4><a href="/ute/logout">Logout</a></h4>
</div>
{{/if}}
</li>
</ul>
</div>
</div>
</div>
</div>