<header class="header affix-top">
    <div class="container">
        <div class="hovermenu ttmenu">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="logo">
                        <a class="navbar-brand" href="/"><img src="../images/xlogo.png.pagespeed.ic.vap6Ukaf0i.png"
                                alt=""></a>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Lista menu -->
                    <ul class="nav navbar-nav">
                        {{handlebars user.pageHTML}}
                    </ul>
                    <!-- Fin de la Lista Menu -->
                </div>

            </div>
        </div>
    </div>
</header>