<section class="section fullscreen paralbackground parallax" style="background-image:url(upload/xparallax_02.jpg.pagespeed.ic.Sx1_qXOliB.jpg)" data-img-width="1627" data-img-height="868" data-diff="100">
<div class="overlay green-overlay"></div>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="section-title text-center">
<h4>Mira nuetras cuentas</h4>
<p>Nosotros contamos con un alto nivel de desempeño para ti.</p>
</div>
</div>
</div>
<div class="row service-center funfactors">
<div class="col-md-4 col-sm-6">
<div class="feature-list">
<i class="stat-count">3312</i>
<p><strong>Estudaintes total</strong></p>
<p>Tienes la oportunidad de formar parte de la institución.</p>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="feature-list">
<i class="stat-count">8</i>
<p><strong>Carerras totales</strong></p>
<p>Contamos con las carreras mas demandadas.</p>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="feature-list">
<i class="stat-count">8443</i>
<p><strong>Generaciones totales</strong></p>
<p>Tenemos una larga historia generando estudiantes profesionales.</p>
</div>
</div>
</div>
</div>
</section>