<section class="white section">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="section-title text-center">
<h4>¿Que ofrece la Universidad?</h4>
<p>Simply The Most Featured Rich HTML5 Learning Management System</p>
</div>
</div>
</div>
<div class="row service-center">
<div class="col-md-4 col-sm-6">
<div class="feature-list border-radius">
<i class="fa fa-graduation-cap"></i>
<p><strong>Modelo Bilingüe</strong></p>
<p>El modelo Bilingüe, Internacional y Sustentable (BIS) es un sistema vanguardista en la educación superior de México, pues brinda a sus estudiantes una formación integral y una educación de calidad para el siglo XXI. ¡Conócelo!</p>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="feature-list border-radius">
<i class="fa fa-shopping-cart"></i>
<p><strong>Costos</strong></p>
<p>Los cotos de la universidad no son eleveados</p>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="feature-list border-radius">
<i class="fa fa-question"></i>
<p><strong>Advanced Quizzing</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer loectetur adipiing elit. Integer lectetur adipiing elit. Integer lrem quam..</p>
</div>
</div>
</div>
<hr class="invis">
<div class="callout row">
<div class="col-md-9">
<h4><i class="fa fa-graduation-cap fa-3x alignleft"></i> El 90% de nuestors egresados consiguen empleo <a href="#">Vestibulum non</a><br> dolor ultricies, porttitor justo non.</h4>
</div>
<div class="col-md-3">
<a href="#" class="btn btn-primary btn-block">Get In Touch</a>
</div>
</div>
</div>
</section>