<section class="section darkskin fullscreen paralbackground parallax" style="background-image:url(upload/xparallax_01.jpg.pagespeed.ic.JPVsQrTu6o.jpg)" data-img-width="1627" data-img-height="868" data-diff="100">
<div class="overlay"></div>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="section-title text-center">
<h4>The Working Process</h4>
<p>We Shared Awesome Articles for Your Next Sites</p>
</div>
</div>
</div>
<div class="row service-center">
<div class="col-md-4 col-sm-6">
<div class="feature-list">
<i class="fa fa-graduation-cap"></i>
<p><strong>Multi-Tier Courses</strong></p>
<p>Lorem ipsum m dolor sit amet, consectetur adipiing elit.dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="feature-list">
<i class="fa fa-shopping-cart"></i>
<p><strong>Sell Online Courses</strong></p>
<p>Lorem ipsum m dolor sit amet, consectetur adipiing elit.dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="feature-list">
<i class="fa fa-question"></i>
<p><strong>Advanced Quizzing</strong></p>
<p>Lorem ipsum m dolor sit amet, consectetur adipiing elit.dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
</div>
</div>
</div>
<div class="row button-wrapper">
<div class="col-md-12">
<div class="text-center">
<a href="#" class="btn btn-default">Start New Project</a>
</div>
</div>
</div>
</div>
</section>