<head>
    <script src="../ute/js/paginas.js"></script>
</head>
<div class="container">
    <div class="row">
        <form id="frmAccesos">
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Nombre de la página">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" name="description" class="form-control" placeholder="Descripción">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" name="url" class="form-control" placeholder="URL">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <button type="button" class="btn btn-secundary">Nuevo</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <button type="button" class="btn btn-success" id='btnSave'>Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>