<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
   {{{title}}}
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
{{!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"/>
<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="images/xapple-touch-icon-72x72.png.pagespeed.ic.lf5d8kCpOf.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="images/xapple-touch-icon-76x76.png.pagespeed.ic.ATZZpSeito.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="images/xapple-touch-icon-114x114.png.pagespeed.ic.Fi5O5s2tzL.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="images/xapple-touch-icon-120x120.png.pagespeed.ic.uPQH0sygdV.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="images/xapple-touch-icon-144x144.png.pagespeed.ic.yZ9-_sm5OF.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="images/xapple-touch-icon-152x152.png.pagespeed.ic.gThaVrKtXF.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="images/xapple-touch-icon-180x180.png.pagespeed.ic.Q8Pmsj5fQM.png"/ --}}
    <link rel="stylesheet" type="text/css" href="../rs-plugin/css/A.settings.css.pagespeed.cf.xeOyGChsgq.css">
   {{!--  <link rel="stylesheet" type="text/css" href="css/A.carousel.css.pagespeed.cf.VktteGiLwl.css">
    <link rel="stylesheet" type="text/css" href="css/A.carousel.css+bbpress.css,Mcc.aXsJ7_Y__m.css.pagespeed.cf.ERce4VkS3l.css">
    <link rel="stylesheet" type="text/css" href="css/A.carousel.css+bxslider.css,Mcc.jgeTii-u52.css.pagespeed.cf.STKSIMl7GF.css">
    <link rel="stylesheet" type="text/css" href="css/A.carousel.css+bxslider.css,Mcc.jgeTii-u52.css.pagespeed.cf.STKSIMl7GF.css"> --}}
    <link rel="stylesheet" type="text/css" href="../css/A.menu.css.pagespeed.cf.0_hLwXzYkZ.css">
    <link rel="stylesheet" type="text/css" href="../css/A.style.css+css,,_custom.css,Mcc.HvWh1qoob-.css.pagespeed.cf.pWH5huNcWh.css">
    <link rel="stylesheet" type="text/css" href="../css/carousel.css+bbpress.css.pagespeed.cc.aXsJ7_Y__m.css">
    <link rel="stylesheet" type="text/css" href="../ute/css/estilosUte.css">
    <link rel="stylesheet" type="text/css" href="../A.fonts%2c%2c_font-awesome-4.3.0%2c%2c_css%2c%2c_font-awesome.min.css%2bcss%2c%2c_bootstrap.css%2bcss%2c%2c_animate.css%2cMcc.kSNwpaaMDX.css.pagespeed.cf.w2G3xGgFf0.css">
    <link rel="stylesheet" type="text/css" href="../rs-plugin/css/A.settings.css.pagespeed.cf.xeOyGChsgq.css">
  {{head}}  
</head>

<body>
<div id="loader" style="display: none;">
<div class="loader-container">
<img src="../images/site.gif" alt="" class="loader-site">
</div>
</div>
<di class="main-content">
<div id="wrapper">
{{> header_login}}
{{#if user}}
{{> navigation_acceso}}
{{else}}
{{> navigation}}
{{/if}}
{{{body}}}


{{> message}}
</div>
</di>
{{>scripts}}
{{>footer}}
</body>

</html>